{% extends "tasks/layout.html" %}
{% block body %}
    <div class="center-column">
        <div class="formInput">
            <form action="/" method="POST">
                {% csrf_token %}
                {{form.title}}
                <input type="submit" name="Create Task">
            </form>
        </div>
        {% for task in tasks %}
            <div class="item-row">
                <a href="{% url 'update_task' task.id %}">Update</a>
                <a href="{% url 'delete_task' task.id %}">Delete</a>
                {% if task.complete == True %}
                <strike>{{task}}</strike>
                {% else %}
                <span>{{task}}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}